<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html, #map{
            width: 100%;
            height: 100%;
            margin:0;
            font-family:"微软雅黑";
            overflow: hidden;
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=C739fdeec7706c19753d59798c3ae297"></script>
    <!--加载检索工具-->
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
    <title>战略地图</title>
</head>
<body>
<div id="map"></div>
</body>

<script type="text/javascript">
    var pageData = '<%- JSON.stringify({area: area, level: level,store: store, regionPoints: regionPoints}) %>';
</script>
<script src="/map/regionMap.js"></script>

</html>