<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="qrcodeCtrl">

     <div class="panel b-a">

          <div class="panel-heading b-b b-light">活动管理</div>
          <div class="panel-body">
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-activity">添加活动</button>
          </div>
     </div>

     <div class="">
          <accordion close-others="oneAtATime">
               <accordion-group is-open="status.open" class="b-info">
                    <accordion-heading>
                         I can have markup, too! <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
                    </accordion-heading>
                    This is just some content to illustrate fancy headings.
               </accordion-group>
          </accordion>
     </div>


     <div class="modal fade add-activity" arid-hidden="true">
          <div class="modal-dialog">
               <div class="modal-content">
                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         <h4 class="modal-title">添加活动</h4>
                    </div>
                    <div class="modal-body center-block">
                         <fieldset>
                              <div class="form-group col-md-12 col-md-offset-1">
                                   <h4 class="col-md-2" style="float:left;line-height: 20px;">活动名称:</h4>
                                   <div class="form-group col-md-7">
                                        <input type="text" class="form-control" ng-model="activity.name" />
                                   </div>
                              </div>
                         </fieldset>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                         <button type="button" class="btn btn-primary" ng-click="addActivity()">确认</button>
                    </div>
               </div>
          </div>
     </div>


</div>