<div class="hbox hbox-auto-xs hbox-auto-sm bg-light"
     ng-init="
     app.settings.asideFixed = true;
     app.settings.asideDock = false;
     app.settings.container = false;
     app.hideAside = false;
     app.hideFooter = true"
     ng-controller="tagsCtrl">

    <div class="panel b-a">

        <div class="panel-heading b-b b-light">标签管理</div>
        <div class="panel-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-tags">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                添加标签
            </button>
        </div>
    </div>

    <div class="panel b-a">
        <div class="panel-heading b-b b-light">已有标签</div>
        <div class="panel-body">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target=".tag-detail" ng-repeat="tag in viewData.tags" style="margin-right:10px;" ng-click="translateData(tag,$index)">
                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                {{tag.name}}
            </button>
        </div>
    </div>




    <div class="modal fade add-tags" arid-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加标签</h4>
                </div>
                <div class="modal-body center-block">
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-1">
                            <h4 class="col-md-2" style="float:left;line-height: 15px;">标签名称:</h4>
                            <div class="form-group col-md-7">
                                <input type="text" class="form-control" ng-model="tag.name" />
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        取消
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="addTag()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        确认
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade tag-detail" arid-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">标签详情</h4>
                </div>
                <div class="modal-body center-block">
                    <fieldset>
                        <div class="form-group col-md-12 col-md-offset-1">
                            <h4 class="col-md-2" style="float:left;line-height: 15px;">标签名称:</h4>
                            <div class="form-group col-md-7">
                                <input type="text" class="form-control" ng-model="handleData.name" />
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        取消
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="delTag()">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        删除
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="updateTag()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        确认
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>